In [2]:
import pandas as pd

# Specify the path to your CSV file
file_path = '../src/data/data_full.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

,Unnamed: 0,date_gmt,Max,Min,AVG,1992,1998,2000,2016,2017,2018,2019,2020,2021,2022,2023,2024,floodLevel,alarmLevel
0,0,06-01,4.95,0.0,2.69,2.04,2.48,4.95,2.02,4.08,2.59,1.99,1.85,2.37,3.84,1.72,2.00,12,10.5
1,1,06-02,4.90,0.0,2.72,2.10,2.43,4.90,2.04,4.05,2.59,2.05,1.77,2.27,3.82,1.72,2.02,12,10.5
2,2,06-03,4.90,0.0,2.76,2.16,2.43,4.90,2.02,4.00,2.62,2.14,1.64,2.26,3.81,1.76,1.91,12,10.5
3,3,06-04,4.95,0.0,2.81,2.18,2.42,4.95,2.04,3.96,2.68,2.19,1.73,2.12,3.81,1.81,1.79,12,10.5
4,4,06-05,5.15,0.0,2.86,2.20,2.42,5.15,2.10,3.80,2.79,2.27,1.80,1.98,3.82,1.84,1.85,12,10.5